{% extends 'layout.html.twig' %}

{% block title %}{{ movie.title }}{% endblock %}
{% block body %}
    <div class="row">
        <div class="head-movie">
            <h2>{{ movie.title }}</h2>
        </div>
    </div>
    <div class="movie-back">
        <div class="row justify-content-around">
            <div class="col-3 image-show">
                <img src="{{ movie.image }}">
            </div>
            <div class="col-8 about-show">
                <span>Kind : </span>{{ movie.kind }}<br/>
                <span>Year : </span>{{ movie.year }}<br/>
                <span>Country : </span>{{ movie.country }}<br/>
                <span>Synopsis : </span>{{ movie.synopsis }}<br/>
                <span>Director : </span>{{ movie.director }}<br/>
                <span>Time : </span>{{ movie.time | date('h:i') }}<br/>
                <span>Actors : </span>
                {% for actor in actors %}
                    {{ actor.name }}
                {% endfor %}<br/>
                <span>Note : </span>{{ average }}/5<br />
                <a href="{{ movie.trailer }}" class="btn trailer-btn justify-content-center" target="_blank">Trailer</a>
                <a href="{{ path('comment_movie', {'id': movie.id}) }}" class="btn comment-btn justify-content-center">Add
                    comment</a>
            </div>
        </div>
        <div class="row justify-content-center comment-section-title">
            <h3>Comments</h3>
        </div>
            {% for comment in comments %}
        <div class="row comment-section-text">
            <p>{{ comment.name }} : {{ comment.comment }}<br />Note : {{ comment.note }}/5</p>
        </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}