{% extends 'layout.html.twig' %}

{% block title %}{{ actor.name }}{% endblock %}
{% block body %}
    <div class="row">
        <div class="head-actors">
            <h2>{{ actor.name }}</h2>
        </div>
    </div>
    <div class="movie-back">
        <div class="row justify-content-around">
            <div class="col-3 image-show">
                <img src="{{ actor.image }}">
            </div>
            <div class="col-8 about-show">
                <span>Age : </span>{{ actor.age }}<br/>
                <span>Country : </span>{{ actor.country }}<br/>
                <span>Movies : </span>
                {% for movie in movies %}
                    {{ movie.title }}
                {% endfor %}<br/>
                <span>Note : </span>{{ average }}/5<br />
                <a href="{{ path('comment_actor', {'id': actor.id}) }}" class="btn comment-btn justify-content-center">Add comment</a>
            </div>
        </div>
        <div class="row justify-content-center comment-section-title">
            <h3>Comments</h3>
        </div>
        {% for comment in comments %}
            <div class="row comment-section-text">
                <p>{{ comment.name }} : {{ comment.comment }}<br />
                    {% if average %}
                    Note : {{ comment.note }}/5</p>
                    {% endif %}
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}