<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Wild Ciné{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Timmana" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
</head>
<body>
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="row justify-content-center mt-5">
            <div class="col-4 text-center alert alert-{{ label }} flash-{{ label }}">
                {{ message }}
            </div>
        </div>
    {% endfor %}
{% endfor %}
<header>
    {% block header %}{% endblock %}
</header>
<div class="container">
    {% block body %}{% endblock %}
</div>
<footer>
    {% block footer %}{% endblock %}
</footer>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
