{% extends 'base.html.twig' %}

{% block header %}
    <nav class="nav justify-content-around fixed-top">
        <p class="user-mail">Hello {{ user.email }}</p>
        <a class="nav-link  active" href="{{ path('movies') }}">Movies</a>
        <a class="nav-link" href="{{ path('box_office') }}">Box office</a>
        <a class="nav-link" href="{{ path('news') }}">News</a>
        <a class="nav-link" href="{{ path('actors') }}">Actors</a>
        <a class="nav-link" href="#">Contact us</a>
        <a class="btn btn-danger" href="{{ path('app_logout') }}">Logout</a>
    </nav>
{% endblock %}

{% block body %}{% endblock %}
{% block footer %}
    <div class="row justify-content-center footer-sentence fixed-bottom text-center d-flex">
        <p>MADE WITH <span>❤</span> BY </p><a href="https://www.linkedin.com/in/amadou-kane-4b55b0102/">AMADROCKY</a>
    </div>
{% endblock %}